* {
  margin: 0px;
  border: 0px;
  font-family: sans-serif;
  font-size: 1em; }

p, li, td, th, div {
  color: #e2e4cb; }

a {
  color: #dfa2a2; }

a:hover {
  color: white; }

a:visited {
  color: #e2e4ce; }

a.header {
  color: #b4cb8a; }

h1, h2 {
  color: #b4cb8a; }

body {
  background-color: #323232;
  width: 100%; }

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.nowrap {
  white-space: nowrap; }

#all {
  width: 950px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid rgba(0, 0, 0, 0); }

p.page {
  text-align: justify; }

nav {
  width: 100%;
  overflow: auto; }
  nav a:hover {
    color: white; }
  nav div {
    background-color: rgba(60, 60, 60, 0.8);
    border: 1px solid rgba(255, 255, 255, 0);
    float: left;
    padding: 8px; }
  nav div.childfirst, nav div.childfirstlast {
    margin-left: 2px; }
  nav div.parentlast, nav div.parentfirstlast {
    margin-right: 2px; }
  nav div.current {
    background-color: rgba(80, 80, 80, 0.5);
    padding-bottom: 10px; }
  nav div.last {
    border-top-right-radius: 10px; }
  nav div.first {
    border-top-left-radius: 10px; }

#main {
  width: 100%;
  background-color: rgba(80, 80, 80, 0.5);
  border-top-right-radius: 10px;
  min-height: 400px; }

footer {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(80, 80, 80, 0.5);
  text-align: center; }

.chapter {
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 10px;
  border: 1px "solid" rgba(255, 255, 255, 0);
  margin: 10px;
  padding: 10px; }

table.cv {
  border-collapse: collapse;
  padding: 1em;
  width: 100%; }
  table.cv td {
    vertical-align: top; }
  table.cv tr {
    vertical-align: top; }
  table.cv td.date {
    padding-right: 2em; }
    table.cv td.date span {
      white-space: nowrap; }
  table.cv tr.separated {
    padding: 1em;
    border-bottom-style: dotted;
    border-width: 1px; }

.basic {
  width: 100%; }

.basic > a {
  cursor: pointer;
  text-align: center;
  display: block;
  padding: 5px;
  margin-top: 0; }

a.block {
  display: block; }

a.tag-1 {
  font-size: 1em;
  font-weight: 100;
  color: #607835; }

a.tagcolor-1 {
  color: #607835; }

a.tag-2 {
  font-size: 1.2em;
  font-weight: 200;
  color: #6c7a3f; }

a.tagcolor-2 {
  color: #6c7a3f; }

a.tag-3 {
  font-size: 1.4em;
  font-weight: 300;
  color: #787e49; }

a.tagcolor-3 {
  color: #787e49; }

a.tag-4 {
  font-size: 1.6em;
  font-weight: 400;
  color: #848154; }

a.tagcolor-4 {
  color: #848154; }

a.tag-5 {
  font-size: 1.8em;
  font-weight: 500;
  color: #90845e; }

a.tagcolor-5 {
  color: #90845e; }

a.tag-6 {
  font-size: 2em;
  font-weight: 600;
  color: #9c8769; }

a.tagcolor-6 {
  color: #9c8769; }

a.tag-7 {
  font-size: 2.2em;
  font-weight: 700;
  color: #a88a73; }

a.tagcolor-7 {
  color: #a88a73; }

a.tag-8 {
  font-size: 2.4em;
  font-weight: 800;
  color: #b48d7e; }

a.tagcolor-8 {
  color: #b48d7e; }

a.tag-9 {
  font-size: 2.6em;
  font-weight: 900;
  color: #c09088; }

a.tagcolor-9 {
  color: #c09088; }

a.tag-10 {
  font-size: 2.8em;
  font-weight: 900;
  color: #cc9393; }

a.tagcolor-10 {
  color: #cc9393; }
